.App {
  text-align: center;
}
.main-div {
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 20%;
  margin-right: 5rem;
}

/* Navbar CSS */

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  background: #fffdd0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
navbar-main-div {
  background: #212121;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
  z-index: 50 !important;
}

navbarLinks {
  color: #fff;
}

.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  position: fixed;
  top: -0rem;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #254441;
  z-index: 20;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
  color: white;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: block;
  float: left;
  background-color: #254441;
}
/* navbar_nav_ul_li {
  margin: 0px;
  display: block;
  float: left;
  background-color: #254441;
} */

/* Styling the links */
nav a {
  display: block;
  padding: 14px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: #000000;
}

/* Background color change on Hover */
nav a:hover {
  background-color: #000000;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
  margin-top: -8px;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: " ";
}
li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 1030px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #254441;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #000000;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding-left: 15%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #000000;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
    color: #fff;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

/* Navbar CSS Ended Here */

/* Sidebar CSS Starts Here */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #0ea7a5;
  color: white;
  position: fixed;
  top: 3.7rem;
  height: 100%;
  overflow: auto;
  transition: width 0.3s ease;
  &:hover {
    width: 275px;
  }
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #1d1919;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 1630px) {
  .sidebar {
    position: fixed;
    top: 3.6rem;
  }
  .main-div {
    margin-top: 10rem;
  }
}


@media screen and (max-width: 1620px) {
  .sidebar {
    position: fixed;
    top: 3.6rem;
  }
  .main-div {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 1418px) {
  .sidebar {
    position: fixed;
    top: 2rem;
  }
  .main-div {
    margin-top: 13rem;
  }
}
.main-body1{
background-color: #fff7a7;
}
@media screen and (max-width: 1430px) {
  .sidebar {
    position: fixed;
    top: 10.9rem;
  }
  .main-body1{
    margin: 0px;
    padding: 0px;
  }
  .formDivRegistraion{
    margin: 0;
    padding: 0px;
  }

}

@media screen and (max-width: 1042px) {
  .sidebar {
    position: fixed;
    top: 10.7rem;
  }
  .main-div {
    margin-top: 13rem;
  }
}
@media screen and (max-width: 1028px) {
  .sidebar {
    position: fixed;
    top: 6.9rem;
  }
  .main-div {
    margin-top: 15rem;
  }
}
@media screen and (max-width: 700px) {
  .sidebar {
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .sidebar_name {
    display: none;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 3vw;
    background-color: #0ea7a5;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: width 0.3s ease;
    &:hover {
      width: 10vw;
    }
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Login Page CSS */

.login-main-div {
  border: 2px solid rgb(130, 74, 74);
  padding: 1rem 5rem 7rem 5rem;
  margin-right: 2rem;
  margin-top: 10rem;
  background-color: #fff7a7;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.loginFormInput {
  width: 50%;
  height: 10vh;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px black;
  font-size: large;
}
.login_btn {
  background-color: blue;
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}
.title_heading {
  font-size: xxx-large;
  text-align: center;
  font-weight: bolder;
  background-image: linear-gradient(to left, #ef4141, #1006d0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 1rem;
}
.checkboxSellerRegistration{
  margin-left: 3rem;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-14 input[type="checkbox"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-14 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-14 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-14 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-14 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-14 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-14
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-14 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-14 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-14 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-14 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-14 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-14 input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-14 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-14 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  .checkbox-wrapper-14 input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  .checkbox-wrapper-14 input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  .checkbox-wrapper-14 input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .checkbox-wrapper-14
    input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}
.checkbox-wrapper-14 * {
  box-sizing: inherit;
}
.checkbox-wrapper-14 *:before,
.checkbox-wrapper-14 *:after {
  box-sizing: inherit;
}

@media all and (max-width: 1030px) {
  .main-div {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 16%;
    margin-right: 0.5rem;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: #0ea7a5;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: width 0.3s ease;
    &:hover {
      width: 20vw;
    }
  }
  .login-main-div {
    border: 1px solid rgb(130, 74, 74);
    padding-bottom: 5rem;
    margin-right: 0;
    background-color: #fff7a7;
    box-shadow: 3px 3px red;
  }

  .loginFormInput {
    width: 100%;
    height: 10vh;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px black;
    font-size: large;
  }
  .login_btn {
    margin-top: 1rem;
    background-color: blue;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .title_heading {
    font-size: xxx-large;
    font-weight: bolder;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .main-div{
    margin-top: 8rem;
  }
  .title_heading {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    font-weight: bold;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 1rem;
  }
  .login-main-div {
    padding: 0;
    margin: 0;
    padding-bottom: 5rem;
  }
  .loginFormInput {
    width: 100%;
    height: 10vh;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px black;
    font-size: large;
  }
}
.login-main-div {
  border: 2px solid rgb(130, 74, 74);
  padding: 0;
  padding-bottom: 5rem;
  margin-right: 2rem;
  background-color: #fff7a7;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);

}

.loginFormInput {
  width: 80%;
  height: 10vh;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px black;
  font-size: large;
}
.main-body1 {
  border: 2px solid black;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
  margin-top: 5rem;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-left: 25rem;
  margin-right: 8rem;
  margin-bottom: 2rem;

}
.formInputRegistraion {
  width: 100%;
  height: 2rem;
  margin-left: 0.5rem;
  font-size: large;
}

.formDivRegistraion {
  margin: 0.8rem 0rem 0.8rem 0.5rem;
  font-size: large;
  font-weight: bold;
  
}

/* Mobile Cards CSS  */



.card_main-div{
  border: 2px solid black;
  padding: 2rem 1rem 2rem 1rem;
  margin: 5rem 1rem 4rem 18rem;
  display: inline-grid;
  grid-column: 4/4;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
}
.title_heading-card-mobile {
  font-size: xxx-large;
  text-align: center;
  font-weight: bolder;
  background-image: linear-gradient(to left, #ef4141, #1006d0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 1rem;
  margin-top: 5rem;
  border: 0.3rem solid black;
  margin-left: 18rem;
  margin-right: 8rem;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
}
@media screen and ( max-width: 1826px ){
  .card_main-div{
  padding: 2rem 1rem 2rem 1rem;
  margin: 5rem 1rem 4rem 18rem;
  grid-column: 3/3;
  grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (max-width: 1294px) {
  .card_main-div{
    padding: 2rem 1rem 2rem 1rem;
    margin: 5rem 1rem 4rem 12rem;
    grid-column: 2/2;
    grid-template-columns: 1fr 1fr;
    }
    .formInputRegistraion{
      padding: 0rem;
      margin: 0rem;
    }
    .main-body1{
      padding: 1rem 1rem 5rem 1rem;
      margin: 12rem 2rem 1rem 17rem;  
    }
}
@media screen and (max-width: 1000px) {
  .formInputRegistraion{
    padding: 0rem;
    margin: 0rem;
  }
  .main-body1{
    padding: 1rem 1rem 5rem 1rem;
    margin: 9rem 2rem 1rem 12rem;  
  }
}
@media screen and (max-width: 702px) {
  .card_main-div{
    padding: 2rem 1rem 2rem 1rem;
    margin: 5rem 1rem 4rem 9rem;
    grid-column: 2/2;
    grid-template-columns: 1fr 1fr;
    }
  
}
@media screen and (max-width: 650px) {
  .card_main-div{
    padding: 1rem 2.5rem 2rem 0rem;
    margin: 5rem 1rem 4rem 9rem;
    grid-column: 1/1;
    grid-template-columns: 1fr;
    }
    .title_heading-card-mobile {
      font-size: 5w;
      padding: 1rem 2rem;
      margin-top: 8rem;
      border: 0.3rem solid black;
      margin-left: 9rem;
      margin-right: 4rem;
    }
    .formInputRegistraion{
      padding: 0rem;
      margin: 0rem;
    }
    .main-body1{
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      margin: 8rem 0.5rem 1rem 7rem;  
    }
}
@media screen and ( max-width: 485px ){
  .card_main-div{
    padding: 1rem 0rem 2rem 0rem;
    margin: 5rem 1rem 4rem 5rem;
    grid-column: 1/1;
    grid-template-columns: 1fr;
    }
    .title_heading-card-mobile {
      font-size: 5w;
      padding: 1rem 2rem;
      margin-top: 8rem;
      border: 0.3rem solid black;
      margin-left: 7rem;
      margin-right: 3rem;
    }
}
